/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --page-color: #222222;
  --header-color: #1f1e1e;
  --font-grey-color: rgb(158, 158, 158);
  --qlimax-color: #d6d6cb;
  --horizontal-line-color: #383838;
  --button-border-color: #f59e00;
  --button-gradient-color: linear-gradient(270deg, #e73e11, #f59e00);
  --button-shadow: 0 .25em 1.25em rgb(245 158 0 / 40%);
  --button-disabled-color: #8a8a90;
  --button-disabled-background-color: hsla(0, 0%, 100%, .15);
}





/********************/
/* ALGEMENE STYLING */
/********************/
body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--page-color);
  font-family: Roboto, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}


/* Focus state bij links */
a:focus {
  outline: .18em solid var(--button-border-color);
}


body h1 {
  font-size: 1.3em;
  color: white;
  text-transform: uppercase;
}

body h2 {
  font-size: 1.1em;
  color: white;
  text-transform: uppercase;
}

body p {
  color: var(--font-grey-color);
}





/**********/
/* HEADER */
/**********/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  padding: .5em;
  position: fixed;
  z-index: 9999;
  overflow: hidden;
  height: 2.7em;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: var(--header-color);
  border-bottom: var(--horizontal-line-color) solid .06em;
  transition: .2s;
  transition-timing-function: cubic-bezier(.59, .01, .5, 1);
}

header button {
  width: 1.6em;
  height: 1em;
  padding: 0 0 .2em 0;
  transform: rotate(0deg);
  cursor: pointer;
  background: none;
  border: none;
}

header i {
  color: white;
  font-size: 1.2em;
}

header img {
  width: 1.6em;
}

header span {
  display: block;
  position: absolute;
  left: 0;
  height: .17em;
  width: 100%;
  border-radius: 1em;
  opacity: 1;
  background-color: white;
  transition: .2s ease-in-out;
}

header span:nth-child(1) {
  top: 0;
  transform-origin: left center;
}

header span:nth-child(2) {
  width: 80%;
  top: .5em;
  transform-origin: left center;
}

header span:nth-child(3) {
  top: 1em;
  transform-origin: left center;
}

/* Wanneer op de (hamburger)button word geklikt, word de onderstaande waarder uitgevoerd.  */
header button.menuOpen span:nth-child(1) {
  transform: rotate(45deg);
}

header button.menuOpen span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

header button.menuOpen span:nth-child(3) {
  transform: rotate(-45deg);
  top: 1.12em;
}

.qlimax article {
  position: fixed;
  top: 2.5em;
  z-index: 999;
  width: 100%;
  transition: .2s;
  transition-timing-function: cubic-bezier(.59, .01, .5, 1);
}

.qlimax article span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: .5em;
  background-color: var(--header-color);
}

.qlimax span h2 {
  margin: .5em;
  padding: 0 0 .4em 0;
  color: var(--qlimax-color);
  font-size: .8em;
}

.qlimax span img {
  width: .8em;
  transition: .3s;
}

/* Rotatie pijltje naast de 'Overview' */
.qlimax article span.toonDropdown img {
  transition: .3s;
  transform: rotate(180deg);
}

/* Elementen in 'Overview' dropdown */
.qlimax article span.toonDropdown~ul li:first-of-type {
  opacity: 100%;
  transition: .3s;
  /* De delay zorgt ervoor dat de elementen kort na elkaar verschijnen */
  transition-delay: 0s;
}

.qlimax article span.toonDropdown~ul li:nth-of-type(2) {
  opacity: 100%;
  transition: .3s;
  transition-delay: 0.06s;
}

.qlimax article span.toonDropdown~ul li:nth-of-type(3) {
  opacity: 100%;
  transition: .3s;
  transition-delay: 0.09s;
}

.qlimax article span.toonDropdown~ul li:nth-of-type(4) {
  opacity: 100%;
  transition: .3s;
  transition-delay: 0.12s;
}


.qlimax article ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 2em;
}

.qlimax article ul li:first-of-type {
  border-top: .06em solid hsla(0, 0%, 100%, .08);
}

.qlimax article ul li {
  width: 100%;
  opacity: 0;
  transition: .3s;
  border-bottom: .06em solid hsla(0, 0%, 100%, .08);
  background-color: var(--header-color);
}

.qlimax article ul li a {
  padding-left: 1em;
  font-weight: 600;
  font-size: .8em;
  text-transform: uppercase;
  color: var(--qlimax-color);
}





/*****************************************/
/* SIDE-MENU SLIDE VAN LINKS NAAR RECHTS */
/*****************************************/
section:first-of-type.toonMenu {
  transform: translateX(-5%);
}

header.toonMenu {
  transform: translateX(48.5%);
}

section:nth-of-type(2).toonMenu {
  transform: translateX(60%);
}

.qlimax section:nth-of-type(2).toonMenu {
  transform: translateX(49%);
}

.qlimax article.toonMenu {
  transform: translateX(48.5%);
}

footer.toonMenu {
  transform: translateX(50%);
}





/******************/
/* NAVIGATIE MENU */
/******************/

section:first-of-type {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 12em;
  background-color: var(--header-color);
  transform: translatex(-110%);
  transition: .2s;
  transition-timing-function: cubic-bezier(.59, .01, .5, 1);
}

section:first-of-type img {
  margin: 1em 0 1em 1em;
  width: 2.5em;
}

section:first-of-type ul {
  margin: .2em;
  margin-left: 1em;
  padding: .5em;
}

section:first-of-type ul li {
  margin-bottom: 1em;
}

section:first-of-type ul li a {
  color: var(--font-grey-color);
  font-size: .8em;
}

/* Geeft indicatie welke pagina je bent */
section:first-of-type ul a.active {
  color: white;
}

section:first-of-type ul li a i {
  margin-right: .9em;
}




/***********/
/* BUTTONS */
/***********/
/**********************************/
/* SHOP, LOGIN & REGISTER BUTTONS */
/**********************************/

.button-container:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: .5em;
  height: 100vh;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: .5em .5em 2em .5em;
  height: 100vh;
}

section:first-of-type div a:first-of-type {
  padding: 1em;
  text-align: center;
}

section:first-of-type a:nth-of-type(2) {
  padding: 1em;
  text-align: center;
}


/***********************/
/* MAIN BUTTON STYLING */
/***********************/
.button {
  position: relative;
  padding: 1.5em 3.5em 1.5em 3.5em;
  margin: .8em 1em .8em 1em;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .65em;
  text-decoration: none;
  background-color: var(--header-color);
  box-shadow: var(--button-shadow);
  border: .06em solid var(--button-border-color);
  border-radius: 10em;

}


/****************************/
/* SECONDARY BUTTON STYLING */
/****************************/
#button-secondary {
  background: var(--button-gradient-color);
  border: none;
}


/***************************/
/* TERTIARY BUTTON STYLING */
/***************************/
#button-tertiary {
  background: white;
  color: black;
  border: none;
  box-shadow: none;
}


/*******************/
/* DISABLED BUTTON */
/*******************/
#button-disabled {
  color: var(--button-disabled-color);
  background: var(--button-disabled-background-color);
  border: none;
}





/***********/
/* CONTENT */
/***********/
section:nth-of-type(2) {
  display: block;
  position: relative;
  margin: 4em 1em 2em 1em;
  transition: .2s;
  transition-timing-function: cubic-bezier(.59, .01, .5, 1);
}

.qlimax section:nth-of-type(2) {
  height: 100%;
  margin: 4em 0 3em 0;
  padding: 2em 0 1em 0;
  background-color: black;
  background-image: url("/images/qlimax-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  background-position: 0 20em;
}

.qlimax section:nth-of-type(2) div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 1em 2em 1em;
  margin: 1em 1em 2em 1em;
  text-align: center;
  background-color: rgba(52, 52, 50, .5);
  border-radius: .7em;
}

.qlimax section:nth-of-type(2) div p {
  color: white;
  font-size: .85em;
  line-height: 1.8em;
}


section:nth-of-type(2) h2 {
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;

}

section:nth-of-type(2) .cards span {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1em;
}

section:nth-of-type(2) .cards a {
  margin-top: 1em;
  margin-right: .3em;
}

section:nth-of-type(2) .cards {
  padding: 0.1em .5em .5em .4em;
  margin-bottom: 1em;
  width: 100%;
  background-image: linear-gradient(to right, rgb(34, 34, 34) 40%, rgba(39, 39, 39, 0.274)90%),
    url('/images/qlimax2021.png');
  background-size: cover;
  background-repeat: no-repeat;
}

section:nth-of-type(2) .cards i {
  padding-right: 1em;
}

section:nth-of-type(2) .cards p {
  font-size: .80em;
  line-height: 1em;
}

section:nth-of-type(2) article:nth-of-type(2) div {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgb(34, 34, 34) 40%, rgba(39, 39, 39, 0.274)90%),
    url('/images/xqlusiveholland.png');
  background-size: cover;
}

section:nth-of-type(2) article:nth-of-type(3) div {
  background-image: linear-gradient(to right, rgb(34, 34, 34) 40%, rgba(39, 39, 39, 0.274)90%),
    url('/images/qapital.jpg');
}

section:nth-of-type(2) article:nth-of-type(4) div {
  width: 100%;
  background-image: linear-gradient(to right, rgb(34, 34, 34) 40%, rgba(39, 39, 39, 0.61)90%),
    url('/images/defqon1.jpeg');
}





/**********/
/* FOOTER */
/**********/
footer {
  display: flex;
  flex-direction: row;
  transition: .2s;
  transition-timing-function: cubic-bezier(.59, .01, .5, 1);
}

footer section:first-of-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  transform: translateX(0%);
}

footer section:first-of-type nav {
  display: flex;
  border-top: .06em solid var(--horizontal-line-color);
}

footer section:first-of-type ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  padding: 0;
}

footer section:first-of-type h2 {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  padding: 0;
  color: var(--font-grey-color);
  font-size: .8em;
}


footer section:first-of-type li:first-of-type {
  margin-top: 1em;
  font-size: .8em;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--font-grey-color);
}



footer section:first-of-type li {
  margin-bottom: .7em;
}

footer section:first-of-type li a {
  margin: 0;
  font-size: .7em;
}